*.swp
*.swo
*.pyc
*.egg-info
*.ipynb_checkpoints
__pycache__
.coverage
htmlcov
.mypy_cache
.dmypy.json
.hypothesis
.envrc
.lvimrc
.DS_Store
.envrc
.vite
build
HJCD-IK
resources/learned_ik/*
pRRTC
src/pyronot/cuda_kernels/*.so
src/pyronot/cuda_kernels/*.o